<div id="informe-venta"  class="resumen-compras p-6 bg-white rounded-lg shadow-lg max-w-4xl mx-auto mt-8">
  <a class="navbar-brand text-success logo h1 align-self-center" >
    <img src="./../../../../assets/img/Img_Welcome/images.png" alt="">
    D'Lopez
</a>
  <h2 class="text-2xl font-bold mb-4 text-center">Resumen de Compras</h2>
  <table  class="table-auto w-full mb-6">
      <thead>
          <tr class="bg-gray-100">
              <th class="px-4 py-2 text-left text-gray-600">Producto</th>
              <th class="px-4 py-2 text-left text-gray-600">Cantidad</th>
              <th class="px-4 py-2 text-left text-gray-600">Precio Unitario</th>
              <th class="px-4 py-2 text-left text-gray-600">Total</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of carrito" class="border-t">
              <td class="px-4 py-2">{{ item.producto.nombreProd }}</td>
              <td class="px-4 py-2">{{ item.cantidad }}</td>
              <td class="px-4 py-2">${{ item.producto.precioUnitario.toFixed(2) }}</td>
              <td class="px-4 py-2">${{ (item.producto.precioUnitario * item.cantidad).toFixed(2) }}</td>
          </tr>

      </tbody>
  </table>
  <div class="total text-right">
      <h3 class="text-xl font-bold">Total: ${{ total.toFixed(2) }}</h3>
  </div>


</div>
<div class="payment-container mt-10">
  <!-- <h2 class="text-2xl font-bold mb-4 text-center">Compra tu producto</h2> -->
  <button  class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600" (click)="descargarPDF()">
    Descargar PDF
  </button >
  <button  class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-blue-600" routerLink="">
    volver
  </button >
  <!-- <div class="flex justify-center mb-4">
      <button id="checkout-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Pagar con Mercado Pago
      </button>
  </div> -->

  <div class="flex justify-center mb-6">
      <a href="https://wa.me/+51930781865?text=Hola,%20necesito%20más%20información%20sobre%20los%20productos" target="_blank" class="flex items-center bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png" alt="WhatsApp" class="w-6 h-6 mr-2">
          Contacto por WhatsApp
      </a>
  </div>

  <!-- <div class="payment-methods text-center">
      <h3 class="text-lg font-semibold mb-4">Métodos de Pago</h3>
      <div class="flex justify-center space-x-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXalPMjNwXaU8xcGbEND634noc-NcdBjIqNiYvPGuuqfHvYUotioI6Sit0zvp2V-Nwcsc" alt="Visa" class="w-12">
          <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Mastercard-logo.svg" alt="Mastercard" class="w-12">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/American_Express_logo_%282018%29.svg/180px-American_Express_logo_%282018%29.svg.png" alt="American Express" class="w-12">
          <img src="https://www.consumoteca.com/wp-content/uploads/Logo-PayPal-jpg.webp" alt="PayPal" class="w-12">
          <img src="https://latinanoticias.pe/wp-content/uploads/2023/12/Yape-BCP.jpg" alt="Yape" class="w-12">
      </div>
  </div> -->
</div>
