<p>prueba works!</p>
<h1>Pagina pruebas</h1>
<div class="container">
    <body>
        <button routerLink="" class="btn btn-primary">ir al welcome </button>
        <button routerLink="/prueba" class="btn btn-primary">ir a pruebas </button>
        <button routerLink="/404"  class="btn btn-primary">ir a not found</button>
        <button routerLink="/auth"   class="btn btn-primary">iniciar sesion  </button>
        <button routerLink="/prueba" class="btn btn-primary">ir a pruebas </button>
    </body>
</div>
