
#seccion{
    background-color: #161616;
    padding-bottom: 10px;
    
}
nav{
    
    
}
span{
    color: wheat;
}
a{
    font-size: 1em;
    text-decoration: none;
}
@media (max-width: 768px) {
    #relleno{
        display: none;
    }
    #nav ul li a{
        width: 100%;
    }
    
}

#navegacion{
    display: flex;
    
}

#inicio{
    list-style: none;
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 30px;
}
#inicio li > a{
    width: 100px;
}
#inicio li:hover > a{
    background-color: #5F6A6A;
}
#inicio li a fa-icon{
    color: #fff;
    margin-right: 5px;
}
img{
    width: 133px;
    height: 150px;
    margin-top: 0px;
    margin-right: 33px;
    margin-left: -84px;
    height: 118px;
}
#inicio li a{
    display: contents;
    background-color: #d34e4e;
    color: rgb(2, 2, 2);
    padding: 2px px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: px;
}
.imgP{
    margin-right: 735px;
    margin-bottom: 20px;
    background-color: black;
}
