<div id="chat-container" class="hidden">
  <!-- <img src="./../../../../assets/img/Img_Welcome/images.png" alt=""> -->
  <div id="chat-box">
    <!-- Mensajes del usuario y del bot se agregarán aquí -->
    <div *ngIf="loading" class="loading-animation">
      <!-- Puedes poner aquí un spinner o alguna animación -->
      <p>Cargando...</p>
    </div>
    <div *ngIf="botMessage" class="bot-message">
      {{ botMessage }}
    </div>
  </div>
  <input id="user-input" type="text" placeholder="Escribe un mensaje..." />
  <button id="send-btn">Enviar</button>
  <button id="close-btn">X</button>
</div>
<button id="chat-icon">Chat</button>
