<app-welcome-header></app-welcome-header>
<p>vist-empresa works!</p>
<img src="./../../../../../assets/img/Empresa.jpg" alt="">
<p class="lh-sm">La empresa D Lopez es una empresa que se dedica a la fabricación de
    calzados de los cuales tenemos los modelos urbanos, tacos, zapatos y
    bailarinas.
    La empresa hace ventas a tiendas que se dedican a vender los zapatos sobre
    todo en Huancayo, tiene ya un listado de sus clientes ya definido</p>
    <button class="btn btn-primary">
        Facebbok
    </button>
    <button>

    </button>
    <button>

    </button>
<p>vist-contacto works!</p>