<p>welcome-body works!</p>


<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./../../../../../assets/img/Img_Welcome/banner_img_01.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>DLopez</b> Ofertas</h1>
                            <h3 class="h2">Pfertas de Dia </h3>
                            <p>
                                50 % de Descuento Visita Nuestro Catalogo 
                                
                                <a rel="sponsored" class="text-success" href="https://stories.freepik.com/" target="_blank">Catalogo</a>,
                                
                            </p>
                            <p>
                                <a rel="sponsored" class="text-success" href="https://unsplash.com/" target="_blank">Ver Modelos</a> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="http://aa.somee.com/imagen_pagina/720X1300-ecco.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Dia de la Madre</h1>
                            <h3 class="h2">Regalale lo que ella Necesita</h3>
                            <p>
                                Ella se merece lo mejor 
                                
                                <strong>Visita nuestro productos </strong> 
                                con Nuestro Distribiudor Autorizado
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="http://aa.somee.com/imagen_pagina/MODELOS-[Recuperado]2.gif" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Todo tipos de Modelos</h1>
                            <h3 class="h2">Para Hombre y Mujeres </h3>
                            <p>
                                Productos echos para ellos modelos que le gusta a ellas
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>

<h1>Nuestros Productos</h1>
<section class="container py-5">
    <div class="row text-center pt-3">
           
        
    </div>
    <div  id="productos-welcome"  *ngFor="let mod of responseProducto">
        <div class="col-12 col-md-4 p-5 mt-3" >
            <a href="#"><img src="{{mod.fotografia}}" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3"> {{mod.nombreProd}}</h5>
            <h5 class="text-center mt-3 mb-3">$ {{mod.precioUnitario}}</h5>
            <p class="text-center"><a class="btn btn-success" (click)="monstrarDetalle(modalEdit,mod,mod.idProducto)">Ver Detalle</a></p>
            <div>
                <button (click)="addProducto(mod)">Agregar al carrito</button>
            </div>
        </div>
        <!-- <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="./../../../assets/img/Img_Welcome/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Shoes</h2>
            <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="./../../../assets/img/Img_Welcome/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Accessories</h2>
            <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
        </div> -->
    </div>
</section>
<div class="contendido-centro row">
    
    <section class="row col-lg-9">
       <form action="" class="container-producto"
       *ngFor="let mod of responseProducto"
       >
        <a href="" ><img src="{{mod.fotografia}}" alt=""></a>
        <div>
            <label for="">Nombre</label>
            =>
            <label for="">{{mod.nombreProd}}</label>
            <br>
            <label for="">Precio</label>
            =>
            <label for="">{{mod.precioUnitario}}</label>
        </div>
        
        
    </form> 
            
    </section>


</div>

<h1>Nuestros Modelos</h1>
<h3 class="titu-ellas">Para Ellas</h3>
<div>
    <a href=""><img class="img-modelo"  src="http://aa.somee.com/imagen_pagina/ChicBailarina.jpg" alt=""></a>
    <br>
   
    
</div>


<div>
    <a href=""><img class="img-modelo-pr" src="http://aa.somee.com/imagen_pagina/ChicBotin.jpg" alt=""></a>
    <br>
   
</div>

<!--Parte del html del hombre-->
<h3 class="titu-ellas">Para Ellos</h3>
<div>

    <a href=""><img class="img-modelo1"  src="http://aa.somee.com/imagen_pagina/SeñorZapato.jpg" alt=""></a>
    <br>
</div>


<div>
    <a href=""><img class="img-modelo-pr" src="http://aa.somee.com/imagen_pagina/ChicBotin.jpg" alt=""></a>
    <br>
   
</div>
<ng-template #modalEdit>
    <app-listar-detalle
    [title]="titleModal"
    [Producto]="productoSelect"
    [accion]="accionModal"
  (closeModalEmmit)="getCloseModalEmmit($event)"
    >

    </app-listar-detalle>
</ng-template>  
