<div class="modal-header">
    <h4 class="modal-title pull-left" >{{title}}</h4>
    <!-- (click)="modalRef?.hide() -->
    <button type="button" class="btn-close close pull-right" aria-label="Close" >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  
  <DIv class="row" >
    <form action="" [formGroup]="myForm">
        <div class="col-12 mt-5">
            <div class="form-group">
                <label for="" aria-placeholder="Ingrese Nokbre Rol">ID</label>
                <input type="text" formControlName="idMaterial"  class="form-control" placeholder="id">
            </div>
        </div>
        <div class="col-12 mt-5">
            <div class="form-group">
                <label for="" aria-placeholder="Ingrese Nokbre Rol">Material</label>
                <input type="text" formControlName="nombreMaterial"  class="form-control" placeholder="Ingrese Nombre de Rol">
            </div>

            <div *ngIf="myForm.get('nombreMaterial')?.errors && myForm.touched">
                <span class="text-danger" *ngIf="myForm.get('nombreMaterial')?.hasError('required')" >Campo Requerido </span>
            </div>

        </div>
        <div class="col-12 mt-5">
            <div class="form-group" >
                <label for="">Seleccione En que Unidad esta </label>
                <br>
                <select name="" id="" formControlName="nombreUnidad" >
                    <option value={{listUnidad.nombreUnidad}} *ngFor="let listUnidad of responseUnidad"  formControlName="nombreUnidad">{{listUnidad.nombreUnidad}}</option>
                    
                </select>
               
            </div>

            <div *ngIf="myForm.get('desc')?.errors && myForm.touched">
                <span class="text-danger" *ngIf="myForm.get('desc')?.hasError('required')" >Campo Requerido </span>
            </div>
        </div>
        <div class="col-12 mt-5">
            <div class="form-group">
                <label for="" aria-placeholder="">Cantidad Ingresante </label>
                <input type="text" formControlName="stock" class="form-control" placeholder="Ingrese Descripcion">
            </div>

            <div *ngIf="myForm.get('desc')?.errors && myForm.touched">
                <span class="text-danger" *ngIf="myForm.get('desc')?.hasError('required')" >Campo Requerido </span>
            </div>
        </div>
        <div class="col-12 mt-5">
            <div class="form-group">
                <label for="" aria-placeholder="">Descripcion</label>
                <input type="text" formControlName="descripcionMaterial" class="form-control" placeholder="Ingrese Descripcion">
            </div>

            <div *ngIf="myForm.get('descripcionMaterial')?.errors && myForm.touched">
                <span class="text-danger" *ngIf="myForm.get('descripcionMaterial')?.hasError('required')" >Campo Requerido </span>
            </div>
        </div>
        <div class="col-12 mt-5">
            <div class="form-group">
                <label for="" aria-placeholder="">Marca </label>
                <input type="text" formControlName="marca" class="form-control" placeholder="Ingrese Descripcion">
            </div>

            <div *ngIf="myForm.get('marca')?.errors && myForm.touched">
                <span class="text-danger" *ngIf="myForm.get('marca')?.hasError('required')" >Campo Requerido </span>
            </div>
        </div>
        <div class="col-12 mt-5">
            <div class="form-group">
                <label for="" aria-placeholder="">Estado </label>
                <input type="text" formControlName="estado" class="form-control" placeholder="Ingrese Descripcion">
            </div>

            <div *ngIf="myForm.get('estado')?.errors && myForm.touched">
                <span class="text-danger" *ngIf="myForm.get('estado')?.hasError('required')" >Campo Requerido </span>
            </div>
        </div>
        
        
            <div class="col-6  mt-3">
                <button   class="btn btn-primary" (click)="guardar()">
                                Guardar
                </button>
            </div>
            <div class="col-6 mt-3 ">    
                <button class="btn btn-danger">
                    Cancelar
                </button>
            </div>
    </form>
        
  </DIv>
