<div class="container-fluid mt-4">
    <div class="card bg-light mb-3">
        <div class="card-header"><strong>Produccion </strong></div>
        <div class="card-body"></div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>

                        <th>Nombre Del Producto</th>
                        <th>Codigo Del Producto</th>
                        <th>Cantidad Producida</th>
                        <th>Meta</th>
                        <th>Fecha De Inicio</th>
                        <th>Fecha De Fin</th>
                       
                     
                        
                        <th>
                            <button class="btn btn-primary" (click)="crearProduccion(modalEdit)"><i class="fas fa-plus"></i>
                                Crear Nueva Produccion
                            </button>
                        </th>
                       
                    </tr>
                </thead>
                <tbody *ngFor="let d of Produccion" >
                    <tr *ngFor="let e of d.produccions">
                        <td>{{e.nombreProd}}</td>
                
                        <td>{{e.meta}}</td>
                        <td>{{e.fechaInicio}}</td>
                        <td>{{e.fechaFin}}</td>

                        <td>
                            <button class="btn btn-primary" (click)="editarProduccion(modalEdit,e)"><i class="fas fa-edit"></i>
                                Actualizar
                            </button>
                            <button class="btn btn-danger" ><i class="fas fa-edit"></i>
                                Eliminar 
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
<ng-template #modalEdit>
    <app-mant-produccion-register
    [title]="title"
    [Produccion]="selectProduccion"
    [accion]="accionModal"
    (closeModalEmmit)="getCloseModal($event)"
    >
    </app-mant-produccion-register>
  </ng-template>

