<!-- <h1>Login</h1>
<br>
<label for="">Usuario</label> <input type="text" [(ngModel)]="usuario">
<label for="">Password</label> <input type="text" [(ngModel)]="password">

<br>
<button (click)="iniciarSesion()">
  INICIAR SESION 
</button> -->



<!-- <h1>Proyecto de zapateria:Tramite </h1>

  <br>

<label for="">Nombre proyecto ANGULAR</label>
{{title}}
<br>
<ul *ngFor="let rol of roles">
  <li> ID : {{rol.id}} | Name: {{rol.name}}</li>
</ul>
<br>
<h1>Utilzar el doble binding </h1>

<input type="text" id="txtNombreProyecto">

<br>
<h1>Nombre de Usuario</h1>
<br>
<input type="text" [(ngModel)]="nombreUsuario">
<label for="">{{nombreUsuario}}</label> -->



<!-- <table>
  <thead>
    <tr>
      <label>ID rol</label> <input type="text" [(ngModel)]="rolRequest.idRol"><br><br>

      <label class="">Nombre</label><input type="text" class="form-control" [(ngModel)]="rolRequest.nombreRol"><br><br>
      <label>Descripcion</label><input type="text" [(ngModel)]="rolRequest.descripcion"><br><br>
      (((((((((((((((((((((((())))))))))))))))))))))))
      
    </tr>
      <td>
        <br><br>
        <button (click)="crearRol()" class="btn btn-primary" >AGREGAR</button>
        <br><br>
      </td>
  </thead>
  <THEad>
    <tr *ngFor="let rol of roles">
      <td>{{rol.idRol}}</td>
      <td>{{rol.nombreRol}}</td>
      <td>{{rol.descripcion}}</td>
      <td>
        <button (click)="rellenarValores(rol)">ACTULIZAR</button>
        <button (click)="eliminarRoles(rol.idRol)">ELIMINAR</button>
      </td>
     
    </tr>
  </THEad>
</table> -->

<router-outlet></router-outlet>
