<div id="layoutSidenav_nav" class="w-64 h-full bg-gray-800 text-white flex flex-col">
  <div class="flex items-center justify-center h-20 border-b border-gray-700">
    <img src="./../../../assets/img/Img_Welcome/images.png" alt="Logo" class="h-12 w-12">
  </div>
  <ul class="flex-1 overflow-y-auto">
    <li class="border-b border-gray-700">
      <button class="w-full text-left px-4 py-3 focus:outline-none focus:bg-gray-700" (click)="toggleDropdown(0)">
        Administracion
        <span class="float-right">
          <i class="fas fa-angle-down"></i>
        </span>
      </button>
      <ul [class.hidden]="!dropdowns[0]" class="pl-8 bg-gray-700">
        <li><a href="dasboard/mantenimiento/rol" class="block py-2">Roles</a></li>
        <li><a href="dasboard/mantenimiento/empleado" class="block py-2">Empleados</a></li>
        <li><a href="dasboard/mantenimiento/usuario" class="block py-2">Usuarios</a></li>
      </ul>
    </li>
    <li class="border-b border-gray-700">
      <button class="w-full text-left px-4 py-3 focus:outline-none focus:bg-gray-700" (click)="toggleDropdown(1)">
        Venta
        <span class="float-right">
          <i class="fas fa-angle-down"></i>
        </span>
      </button>
      <ul [class.hidden]="!dropdowns[1]" class="pl-8 bg-gray-700">
        <li><a href="dasboard/mantenimiento/cliente" class="block py-2">Clientes</a></li>
        <li><a href="dasboard/mantenimiento/orden" class="block py-2">Ordenes</a></li>
        <li><a href="dasboard/mantenimiento/produccion" class="block py-2">Produccion</a></li>
      </ul>
    </li>
    <!-- Repite para las demás secciones -->
    <!-- Producción -->
    <li class="border-b border-gray-700">
      <button class="w-full text-left px-4 py-3 focus:outline-none focus:bg-gray-700" (click)="toggleDropdown(2)">
        Producción
        <span class="float-right">
          <i class="fas fa-angle-down"></i>
        </span>
      </button>
      <ul [class.hidden]="!dropdowns[2]" class="pl-8 bg-gray-700">
        <li><a href="dasboard/mantenimiento/producto" class="block py-2">Productos</a></li>
        <li><a href="dasboard/mantenimiento/produccion" class="block py-2">Ingreso de Producto</a></li>
        <li><a href="dasboard/mantenimiento/modelo" class="block py-2">Modelos de Zapatos</a></li>
      </ul>
    </li>
    <!-- Créditos -->
    <li class="border-b border-gray-700">
      <button class="w-full text-left px-4 py-3 focus:outline-none focus:bg-gray-700" (click)="toggleDropdown(3)">
        Créditos
        <span class="float-right">
          <i class="fas fa-angle-down"></i>
        </span>
      </button>
      <ul [class.hidden]="!dropdowns[3]" class="pl-8 bg-gray-700">
        <li><a href="dasboard/mantenimiento/credito" class="block py-2">Créditos Disponibles</a></li>
        <li><a href="#" class="block py-2">Informe de Crédito</a></li>
      </ul>
    </li>
    <!-- Materiales -->
    <li class="border-b border-gray-700">
      <button class="w-full text-left px-4 py-3 focus:outline-none focus:bg-gray-700" (click)="toggleDropdown(4)">
        Materiales
        <span class="float-right">
          <i class="fas fa-angle-down"></i>
        </span>
      </button>
      <ul [class.hidden]="!dropdowns[4]" class="pl-8 bg-gray-700">
        <li><a href="dasboard/mantenimiento/salidaMaterial" class="block py-2">Salida Materiales</a></li>
        <li><a href="dasboard/mantenimiento/material" class="block py-2">Materiales</a></li>
        <li><a href="dasboard/mantenimiento/producto" class="block py-2">Productos</a></li>
      </ul>
    </li>
    <!-- Informes -->
    <li class="border-b border-gray-700">
      <button class="w-full text-left px-4 py-3 focus:outline-none focus:bg-gray-700" (click)="toggleDropdown(5)">
        Informes
        <span class="float-right">
          <i class="fas fa-angle-down"></i>
        </span>
      </button>
      <ul [class.hidden]="!dropdowns[5]" class="pl-8 bg-gray-700">
        <li><a href="#" class="block py-2">Informe de Ventas</a></li>
        <li><a href="#" class="block py-2">Informe de Productos</a></li>
        <li><a href="#" class="block py-2">Informe de Materiales</a></li>
      </ul>
    </li>
  </ul>
</div>
