<html >
  

<!--<a ><img class="omh-login" src="./../../../assets/img/imagen-login.jpg" alt="" href="" [routerLink]="['/contactenos']"></a>-->
  <body  >
   
      <div class="login">
        <h1>Login</h1>
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img  src="./../../../assets/img/Img_Welcome/images.png" alt="">

        </div>
    
        <form method="post" [formGroup]="loginForm" >
          <input formControlName="usuario" type="text" name="u" placeholder="Username" />
          <input formControlName="password" type="password" name="p" placeholder="Password"/>
          <a href="">Te olvidaste</a>
          <br>
          <a href="" routerLink="register">No tienes Cuenta ?</a>
          <button [disabled]="loginForm.invalid" (click)="login()" type="submit" class="btn btn-primary btn-block btn-large">Ingresar</button>
         
          
                    
        </form>      
      </div >
        <div class="button-pag" >
            <button type="button"   (click)="loginGoogle()"class="btn btn-primary ">
              Iniciar Sesion con Facebook
              <i class="fab fa-facebook-f"></i>
            </button>
             <br>     
           <button (click)="loginGoogle()" type="button" class="btn btn-primary btn-floating mx-1">
              Iniciar Sesion con Google
              <i class="fab fa-google"></i>
            </button>
                
        </div> 
          
  </body>
  <div *ngIf="frmLoadSt == loadStateEnum.None">
      
  </div>
  <div *ngIf="frmLoadSt == loadStateEnum.Loading">
    <app-loading-widget ></app-loading-widget>
  </div>
  <div *ngIf="frmLoadSt == loadStateEnum.Success">
    
  </div>
</html>