<p class="text-muted">Listar Detalle de Producto</p>
<h2 class="text-primary">{{ title }}</h2>

<div *ngIf="frmLoadSt == loadStateEnum.Loading" class="d-flex justify-content-center align-items-center vh-100">
    <h1 class="text-secondary">Buscando algo que leer...</h1>
    <ng-template #sc>
        <div class="loader">
            <svg viewBox="0 0 80 80">
                <circle r="32" cy="40" cx="40" id="test"></circle>
            </svg>
        </div>
        <div class="loader triangle">
            <svg viewBox="0 0 86 80">
                <polygon points="43 8 79 72 7 72"></polygon>
            </svg>
        </div>
        <div class="loader">
            <svg viewBox="0 0 80 80">
                <rect height="64" width="64" y="8" x="8"></rect>
            </svg>
        </div>
    </ng-template>
</div>

<body>
    <div class="container my-5">
        <div class="row" *ngFor="let car of vistDetalle">
            <div class="col-md-6">
                <div class="image-container text-center mb-4">
                    <img [src]="car.fotografia" alt="Producto" class="img-fluid rounded shadow">
                </div>
            </div>
            <div class="col-md-6">
                <div class="details-container">
                    <h1 class="product-title text-info">{{ car.nombreProd }}</h1>
                    <p class="product-price text-success h4">${{ car.precioUnitario }}</p>

                    <table class="table table-bordered mt-4">
                        <tr>
                            <th>Categoría:</th>
                            <td>{{ car.categoria }}</td>
                        </tr>
                        <tr>
                            <th>Material:</th>
                            <td>{{ car.material }}</td>
                        </tr>
                        <tr>
                            <th>Color:</th>
                            <td>{{ car.color }}</td>
                        </tr>
                        <tr>
                            <th>Talla:</th>
                            <td>{{ car.talla }}</td>
                        </tr>
                    </table>
                    <button [routerLink]="''" class="btn btn-primary mt-3">Volver</button>
                </div>
            </div>
        </div>
    </div>
</body>
