#mapa {
    background-color: aqua;
    width: 100%; /* Asegura que ocupe el ancho completo de su contenedor */
    height: 400px; /* Fija la altura del mapa */
    margin: 0 auto; /* Centra el mapa horizontalmente */
  }
  
  #informacion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .ubicacion {
    height: auto; /* Ajuste automático del tamaño según su contenido */
    width: 490;/* Tamaño de la sección .ubicacion */
    margin: 0 auto; /* Centra la sección */
    background-color: rgb(17, 240, 91);
    color: white;
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados para mejor apariencia */
  }
  