
<div class="modal-body" >
    <form action="" [formGroup]="myForm">
        <div class="row">
           
            <div class="modal-header bg-primary text-white">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="btn-close close" aria-label="Close"></button>
              </div>
               
            </div>
              <div class="modal-body">
                <form [formGroup]="myForm">
                  <div class="row g-3">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="idCredito">Id Crédito</label>
                        <input type="text" class="form-control" id="idCredito" formControlName="idCredito" placeholder="Ingrese el ID">
                      </div>
                    </div>
              
                    <div class="col-md-4" *ngFor="let ma of responseCliente">
                      <div class="form-group">
                        <label for="nombreCliente">Nombre del Cliente</label>
                        <select class="form-select" id="nombreCliente" formControlName="nombreCliente">
                          <option *ngFor="let d of ma.clientes" [value]="d.nombreCliente">{{d.nombreCliente}}</option>
                        </select>
                      </div>
                    </div>
              
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="codigoOrden">Seleccion el Orden</label>
                        <select  class="form-select" id="codigoOrden" formControlName="codigoOrden">
                          <option *ngFor="let d of responseVOrden" [value]="d.codigoOrden">{{d.codigoOrden}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="montoPagado">Monto Pagado</label>
                        <input type="number" class="form-control" id="montoPagado" formControlName="montoPagado" (click)="removeZero('montoPagado')">
                      </div>
                    </div>
              
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="montoDeuda">Monto Deuda</label>
                        <input type="number" class="form-control" id="montoDeuda" formControlName="montoDeuda" (click)="removeZero('montoDeuda')">
                      </div>
                    </div>
              
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="estadoCredito">Estado</label>
                        <select class="form-select" id="estadoCredito" formControlName="estadoCredito">
                          <option value="Activo">Activa Deuda</option>
                        </select>
                      </div>
                    </div>
                  </div>
              
                  <div class="modal-footer mt-4">
                    <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
                    <button type="button" class="btn btn-danger">Cancelar</button>
                  </div>
                </form>
              </div>
              
          

