<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-rigth">
        <span class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body" >
    <form action="" [formGroup]="myForm">
        <div class="row">
            <div class="col-4">
                <div class="form-group" >
                    <label for=""> CODIGO DE PRODUCCION</label>
                    <input type="text" name="" id="" formControlName="codigoProduccion">
                  
                </div>
                <div class="form-group" >
                    <label for=""> ID DE PRODUCCION</label>
                    <input type="number" name="" id="" formControlName="idProduccion">
                  
                </div>
                <div class="form-group" >
                    <label for=""> ID DE PRODUCCION</label>
                    <input type="number" name="" id="" formControlName="idUnidad">
                  
                </div>
            </div>
            <div class="col-4" >
                <label for="">Nombres del Producto</label>
                <div class="form-group" >
                    <select name="" id=""  class="form-select" formControlName="nombreProd">
                        <option *ngFor="let ma of responseProducto "  value={{ma.nombreProd}}>{{ma.nombreProd}}</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group" *ngFor="let ma of responseUnidad">
                    <label for="">Nombre de la  UNIDAD</label>
                    <select name="" id=""  class="form-select" formControlName="nombreUnidad">
                        <option value={{ma.idUnidad}}  >{{ma.nombreUnidad}}</option>
                    </select>
                </div>
            </div>
           <div>
            <select class="form-select" name="" id="" formControlName="estadoProduccion"  >
                <option   value="Activo"  formControlName="estadoProduccion"> Activo </option>
                <option   value="InacActivo"  formControlName="estadoProduccion"> InacActivo </option>
            </select>
           </div>
           <input type="number" formControlName="meta" placeholder="Meta"> 
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="">Cantidad Que Debe Ingresar </label>
                    <input type="number" class="form-control"  formControlName="cantidadFaltante">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="">Fecha iNICIO</label>
                    <input type="date" class="form-control" formControlName="fechaInicio">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="">Fecha FIN</label>
                    <input type="date" class="form-control" formControlName="fechaFin">
                </div>
            </div>
        </div>
       
            <button type="button" class="btn btn-primary btn-sm" (click)="guardar()">
                GUARDAR
            </button>
            <button type="button" class="btn btn-danger btn-sm" >
                Cancelar
            </button>
        
    </form>
</div>

